.thread-container {
  display: grid;
  gap: 5px;
  margin: auto;
  // width: 100%;
  max-width: 680px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin-top: 10px;
  // border: 1px solid rgba(68, 67, 67, 0.6); //quitar en la lista de temas (categoria)
  .thread-author-container {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: auto minmax(70px, auto) max-content;
    padding: 10px;
    // min-height: 130px;
    border-radius: 3px;
    box-shadow: 2px 4px 8px 3px rgba(24, 24, 24, 0.5);
    border-inline-end: 5px solid;
    border-block-end: 5px solid;
    border-image-source: radial-gradient(
      circle at bottom right,
      rgba(255, 0, 0, 0.2),
      transparent 2rem,
      rgba(49, 61, 79, 0.452) 0%
    );
    border-image-slice: 1;
    // background: linear-gradient(328deg, rgba(58, 81, 116, 0.7) 0%, rgba(68, 29, 29, 0.7) 150%);
    // background: linear-gradient(328deg, rgba(58, 81, 116, 0.2) 0%, rgba(58, 81, 116, 0.7) 150%);
    background: linear-gradient(150deg, rgba(74, 88, 108, 0.8) 0%, rgba(49, 61, 79, 0.9) 200%);

    .thread-author-title {
      // word-break: break-all;
      font-size: 2rem;
      padding-bottom: 10px;
      padding-left: 3px;
      padding-right: 10px;
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .thread-author-content {
      padding: 15px;
      letter-spacing: 0px;
      font-size: 1.1rem;
      grid-column: 1/3;
      grid-row: 2/3;
      // margin-bottom: 20px;
      // max-width: 610px;
      // display: -webkit-box;
      // overflow: hidden;
      // -webkit-line-clamp: 10;
      // -webkit-box-orient: vertical;
    }
    .thread-author-username {
      grid-column: 2/3;
      grid-row: 3/4;
      user-select: none;
      font-size: 1rem;
      justify-self: end;
      align-self: end;
      padding: 5px 10px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      // background-color: rgba(255, 255, 255, 0.1);
      // border: 2px solid rgba(255, 255, 255, 0.317);
      &:hover {
        border-radius: 10px;
        cursor: pointer;
        outline: 3px solid rgba(255, 111, 111, 0.2);
      }
    }
    .thread-author-timestamp {
      color: rgba(255, 255, 255, 0.4);
      margin: 0px 10px;
      grid-column: 1/2;
      grid-row: 3/4;
      user-select: none;
      font-size: 0.9rem;
      justify-self: start;
      align-self: end;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      border-top: 2px solid rgba(255, 255, 255, 0.2);
      // background-color: rgba(255, 255, 255, 0.05);
      padding: 4px 9px;
    }
  }
  .thread-info-comments-qty {
    padding: 5px 20px;
    font-size: 0.9rem;
    text-align: end;
    color: #c5c5c5;
    letter-spacing: 1px;
  }
  .thread-comment-container {
    transition: 600ms;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 40px;
    margin-top: 4px;
    padding: 10px 15px;
    background: linear-gradient(150deg, rgba(81, 92, 108, 0.5) 0%, rgba(41, 50, 61, 0.6) 200%);
    // background: linear-gradient(150deg, rgba(67, 82, 104, 0.5) 0%, rgba(33, 43, 57, 0.6) 200%);
    letter-spacing: 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    // border: 1px solid rgba(98, 98, 98, 0.2);
    &:hover {
      .thread-comment-username {
        // font-size: 1.1rem;
        opacity: 0.9;
        // letter-spacing: 1px;
      }
      box-shadow: 2px 4px 8px 3px rgba(24, 24, 24, 0.5);
      background: linear-gradient(150deg, rgba(79, 92, 110, 0.9) 0%, rgba(52, 63, 79, 0.9) 200%);
      width: 101%;
    }

    .thread-comment-content {
      grid-column: 1/3;
      grid-row: 1/2;
      font-size: 1rem;
      // min-height: 30px;
    }
    .thread-comment-timestamp {
      color: rgba(255, 255, 255, 0.3);
      grid-column: 1/2;
      grid-row: 2/3;
      user-select: none;
      justify-self: start;
      align-self: end;
      font-size: 0.85rem;
    }
    .thread-comment-username {
      grid-column: 2/3;
      grid-row: 2/3;
      user-select: none;
      font-size: 1rem;
      align-self: end;
      justify-self: end;
      padding: 5px 10px;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
      // background-color: rgba(255, 255, 255, 0.1);
      // outline: 2px solid rgba(255, 255, 255, 0.317);
      border-radius: 10px;
      opacity: 0.3;
      // transition: 250ms;
      // margin-top: 10px;
      &:hover {
        cursor: pointer;
        outline: 3px solid rgba(255, 111, 111, 0.2);
      }
    }
  }
  .form-thread-reply {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(min-content, min-content);
    max-width: auto;
    margin-top: 10px;
    padding-top: 20px;
    gap: 15px;
    border-top: 5px solid rgba(255, 255, 255, 0.1);
    textarea {
      // background: linear-gradient(150deg, rgba(81, 92, 108, 0.5) 0%, rgba(41, 50, 61, 0.6) 200%);
      height: auto;
      min-height: 50px;
      transition: 200ms;
      outline: thin;
      background-color: rgb(255, 255, 255);
      color: rgb(39, 39, 39);
      &:focus {
        min-height: 80px;
        outline: 2px solid rgba(255, 111, 111, 0.5);
      }
      &::placeholder {
        color: rgb(221, 221, 221);
      }
    }
    button {
      background-color: rgba(255, 255, 255, 0);

      outline: 2px solid rgba(255, 111, 111, 0.5);

      // margin-top: -50px;
      justify-self: end;
      // box-shadow: 2px 1px 0px 3px rgba(0, 0, 0, 0.2);
    }
  }
  .thread-closed-msg {
    border-top: 5px solid rgba(255, 255, 255, 1);
    justify-self: center;
    margin-top: 20px;
    padding-top: 10px;
  }
}

.thread-author-username-modal {
  list-style-type: none;
  display: none; //grid
  position: fixed;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(253, 254, 255, 0.5);
  color: #287e175d;
  width: max-content;
  left: 0;
  height: auto;
  padding: 8px 15px;
  // transition: 150ms;
  border-radius: 5px;
  // margin-top: 8px;
  z-index: 1;
}
.show {
  visibility: visible;
  opacity: 1;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
