doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title War-Z | #{title}
        link(rel="stylesheet", href="/css/style.css", defer)
        block css
        script(src="/js/script.js", defer) 
        block script
    body
        header
            a(class='header-btn-logo', href="/") Inicio
            a(class='header-btn-index-board', href="/board") Foro
        div(class='progress-bar')
        p(class='cmd') War-Z
        main
            div(class='center-bar')
            section
                block board
                block category
                block new-thread
                block thread
                block category-threads
                block content